In [29]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [31]:
print(df['A'])

0    1
1    2
2    3
Name: A, dtype: int64

In [32]:
print(df.loc[:, 'A'])

0    1
1    2
2    3
Name: A, dtype: int64

In [33]:
print(df.iloc[:, 0])

0    1
1    2
2    3
Name: A, dtype: int64

In [34]:
df.dtypes

A    int64
B    int64
dtype: object

In [35]:
df['A'].astype(float)

0    1.0
1    2.0
2    3.0
Name: A, dtype: float64

In [36]:
df.groupby('A').mean('B')

     B
A
1  4.0
2  5.0
3  6.0

In [37]:
df.groupby('A')['B'].mean()

A
1    4.0
2    5.0
3    6.0
Name: B, dtype: float64

In [38]:

df.set_index('A', inplace=True)
df

   B
A
1  4
2  5
3  6

In [45]:
df[df['A'] > 1]

   A  B
1  2  5
2  3  6

In [46]:
df.count()

A    3
B    3
dtype: int64

In [49]:
df.sort_values(by='B', ascending=False)

   A  B
2  3  6
1  2  5
0  1  4

In [50]:
df.value_counts('B')

B
4    1
5    1
6    1
Name: count, dtype: int64

In [52]:
df["B"].unique()

array([4, 5, 6])